 
 

        {% for item in messag %}

        {% if item.iduser != 0 %}


           {% if item.id > id %}
       
            
          <div id="tchatcontent">
                     <div id="tchatinfo">
                          <div id="tchatname">
                               <i id="{{item.email}}">CS COMMUNICATION</i>
                               
                          </div>
                          <div id="tchatheur">
                                  <i>15:40:01</i> 
                          </div>
                       </div>
                <div id="sms2">
            {{item.message}}
              <i id="{{item.id}}"></i>
                </div>
          </div>
        
<br>
     {% endif %}
  
  {% endif %}
 
{% endfor %}
        
        
 



