

{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<section class="vh-100" style="background-color: #fff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="border-radius: 1rem;">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center"  style="box-shadow:0 0 2rem grey;border-radius:15px;">
          <h3 class="mb-5">Inscription</h3>
           <form action="{{path('Add')}}" method="post">
            <div class="form-outline mb-4">
              <input type="text" id="typeEmailX" class="form-control form-control-lg" name="name" />
              <label class="form-label" for="typeEmailX">Username</label>
            </div>
            <div class="form-outline mb-4">
              <input type="password" id="typePasswordX" class="form-control form-control-lg" name="password" />
              <label class="form-label" for="typePasswordX">Password</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="typePasswordX" class="form-control form-control-lg" name="Cpassword" />
              <label class="form-label" for="typePasswordX">Confirme Password</label>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  </section>

{% endblock %}
